html, body{
    background: rgb(8,0,81);
    background: radial-gradient(circle, rgba(8,0,81,1) 0%, rgba(34,0,46,1) 100%);
    margin: 0px;
    padding: 0px;
}
#top{
    text-align: center;
    height: 160px;
    align-items: center;
    display: flex;
    justify-content: center;
}
#title{
    font-size: 90px;
    color: rgb(255,255,255);
    margin-top: 10px;
    border-bottom: 5px solid rgb(124, 124, 124);
    border-radius: 7px;
    width: 80%;
}
h1{
    font-family: 'Rajdhani', sans-serif;
    font-weight: 700;
}
#bottom{
    background-color: rgb(27, 27, 27);
    height: 120px;
    width: 90%;
    bottom:-50px;
    left:5%;
    border-radius: 40px;
    position: fixed;
}
#socials{
    display: inline-block;
    text-align: center;
    width: 100%;
}
.socialImg{
    padding:10px
}
.socialImg:hover{
    transition-duration: 0.2s;
    transform: scale(1.1);
}
p{
    color: rgb(255,255,255);
    font-family: 'Rajdhani', sans-serif;
    font-weight: 400;
    font-size: 25px;
}
#visits{
    position: absolute;
    top:10px;
    left:10px;
}
#body{
    height: 1000px;
}

@media only screen and (max-width: 550px) {
    #visits{
        position: absolute;
        left:0;
        right:0;
        margin-left:auto;
        margin-right:auto;
        top:100px;
    }
}